@import 'styles/app.scss';

.category-list {
  width: 100%;
  padding: $gap-7;
  padding-bottom: $gap-4;
  display: flex;
  overflow-x: scroll;
  gap: $gap-5;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  >div {
    min-width: 70px;

  }
}